body {
	padding: 1em;
	margin: 0;
	background: #a0c0f0;
	font-family: Verdana, Georgia, sans-serif;
	text-align: justify;
}

a:link {
	text-decoration: none;
	color: #0033cc;
}

a:visited {
	text-decoration: none;
}

a:hover {
	border-top: 1px solid;
	border-bottom: 1px solid;
	background-color: #bfcfff;
}

a:active {
	background-color: #6078bf;
	color: #fff5e6;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

pre {
	margin: 0;
}

#wrapper {
	position: absolute;
	top: 1em;
	left: 16em;
	width: 720px;
}

#content {
	margin: 0 20em 0 0;
	padding-right: 1em;
}

#menu {
	position: absolute;
	top: 2em;
	left: 0;
	width: 15em;
}

.code {
	width: 100%;
	background: #fff5e6;
	border-top: 1px solid black;
	border-bottom: 1px solid white;
	border-left: 1px solid black;
	border-right: 1px solid white;
}

.code-scroll {
	overflow: auto;
}

.copy-right {
	float: right;
	font-size: 0.8em;
}

.left-foot {
	float: left;
	font-size: 0.8em;
}

.right-foot {
	float: right;
	font-size: 0.8em;
}

.comment {
	color: gray;
}

.string {
	color: green;
}

.number {
	color: red;
}

.keyword {
	color: blue;
}